* {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #4E46A6;
    /* font-size: 50rem; */
}

.header {
    padding: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 8rem; */
    font-size: 3rem;
    background-color: #6478b9;
}

.header a {
    color: white;
}


.right-header {
    float: right;
    margin-right: 2.5rem;
}

.right-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header a {
    padding-right: 3rem;
}

.right-header i {
    display: none;
}

nav ul li a:hover {
    color: rgb(52, 50, 50);
}

.left-header {
    color: white;
    font-size: 4rem;
    margin-left: 3rem;
}





.btn {
    background-color: #7c8eca;
    padding: 1rem 8rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    border-radius: .7rem;
    margin: 0 3rem 0 0;
}

.ctn-btn {
    display: flex;
}

.btn:hover {
    background-color: #6478b9;
}


.content {
    height: 86rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    background-image: url(./img/bg.jpg);
    background-size: cover;
}


.left-content img {
    margin-right: 3rem;
    height: 70rem;
}


.right-content {
    box-shadow: 0 0 30px #1b1b1bbd;
    border-radius: 2rem 0 0 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #fff;
}

.right-content-box {
    padding: 3rem;
}

.right-content-box h1 {
    font-size: 7rem;
    color: #09427D;
}

.right-content-box p {
    color: #162942;
    margin: 3rem 0;
    font-size: 2.4rem;
}



.space {
    height: 100rem;
}



@media (max-width : 2244px) {
    .right-content-box h1 {
        font-size: 5rem;
    }

    .right-content-box p {
        font-size: 1.8rem;
    }

    .btn {
        padding: 1rem 6rem;
        font-size: 1.2rem;
    }

    .left-content img {
        /* margin-right: 3rem; */
        height: 50rem;
    }

    .content {
        justify-content: center;
        height: 69rem;
    }

}

@media (max-width : 1838px) {

    .right-header a {
        font-size: 2.5rem;
        padding-right: 2.6rem;
    }

    .right-content-box h1 {
        font-size: 4rem;
    }

    .right-content-box p {
        font-size: 1.2rem;
    }

    .btn {
        padding: 1rem 4rem;
        font-size: 1rem;
    }

    .left-content img {
        /* margin-right: 3rem; */
        height: 38rem;
    }

    .content {
        height: 50rem;
    }

    .right-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width : 1380px) {
    .right-content {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .right-content-box {
        padding: 3rem 0 3rem 2rem;
    }

    .right-content {
        padding-left: 0;
    }

    .content {
        height: 48rem;
    }

    .left-content img {
        margin-right: 2rem;
        height: 30rem;
    }

}

@media (max-width : 1224px) {

    .right-header a {
        font-size: 2rem;
        padding-right: 2.2rem;
    }

    .left-header {
        font-size: 3rem;
        margin-left: 1rem;
    }


    .right-content-box h1 {
        font-size: 2.5rem;
    }

    .right-content-box p {
        margin: 1rem 0;
        font-size: 1rem;
    }

    .btn {
        margin-right: 1.4rem;
        padding: .6rem 2.6rem;
        font-size: .8rem;
    }

    .right-content-box {
        padding: 2.5rem 0 2.5rem 2rem;
    }

    .content {
        height: 40rem;
    }

    .left-content img {
        margin-right: 2rem;
        height: 25rem;
    }


    .right-content {
        border-radius: 1rem 0 0 1rem;
    }
}



@media (max-width : 827px) {
    .right-content-box h1 {
        font-size: 1.8rem;
    }

    .right-content-box p {
        margin: 1rem 0;
        font-size: .8rem;
    }

    .btn {
        margin-right: 1.2rem;
        padding: .6rem 1.8rem;
        font-size: .6rem;
    }

    .right-content-box {
        padding: 2rem;
    }

    .content {
        height: 28rem;
    }

    .left-content img {
        margin-right: 1.7rem;
        height: 16rem;
    }

    .right-content {
        border-radius: 1rem 0 0 1rem;
    }
}



/* change  */

@media (max-width : 643px) {

    .left-header {
        font-size: 2.3rem;
        margin-left: .5rem;
    }
    

    .content {
        height: 45rem;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .left-content img {
        margin: 1.6rem;
        height: 24rem;
    }

    .right-content {
        margin: 1rem 2rem;
    }

    .right-content {
        border-radius: .4rem;
    }
}

@media (max-width : 460px) {
    .left-header {
        font-size: 1.8rem;
        margin-left: .4rem;
    }
    .right-header i {
        font-size: 2rem;
    }

    .content {
        height: 40rem;
    }

    .left-content img {
        margin: 1rem 1rem 1rem 1.6rem;
        height: 20rem;
    }

    .right-content {
        margin: .5rem 2rem;
    }

    .right-content {
        border-radius: .4rem;
    }


    .right-content-box h1 {
        font-size: 1.2rem;
    }

    .right-content-box p {
        margin: 1rem 0;
        font-size: .6rem;
    }

    .btn {
        margin-right: 1.2rem;
        padding: .4rem 1.2rem;
        font-size: .4rem;
        border-radius: .4rem;
    }

    .right-content-box {
        padding: 1rem 0 1rem 1rem;
    }
}

@media (max-width :  396px) {
  
    .left-content img {
        height: 16rem;
    }
    .content {
        height: 34rem;
    }

}


@media (max-width : 950px) {
    .right-header a {
        display: none;
    }

    .right-header i {
        color: white;
       display: inline-block;
    }

}