
.header {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6478b9;
}

.header a {
    color: white;
}


.right-header {
    float: right;
    margin-right: 1rem;
}

.right-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header a {
    font-size: 1rem;
    padding-right: 1rem;
}

.right-header i {
    display: none;
}

nav ul li a:hover {
    color: rgb(52, 50, 50);
}

.left-header {
    color: white;
    font-size: 2rem;
    margin-left: 0.8rem;
}

    /* Responsive of header */

@media (max-width: 828px) {
    .left-header {
        margin-left: .3rem;
    }
}

@media (max-width: 673px) {
    .left-header {
        margin-left: .5rem;
    }

    .left-header li {
        font-size: 1.3rem;
    }
    .header {
        padding: .7rem 0 .7rem .4rem;
    }
}

@media (max-width: 527px) {
    
.right-header a {
    display: none;
}

.right-header i {
    color: white;
   display:block;
}
}

.header-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    background-color: #6478b9;
}

.header-list {
    transition: 0ms;
    margin: .2rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 90%;
    border-radius: .2rem;
    border: 1px solid rgba(255, 255, 255, 0.404);
}

.header-list:hover {
    border: 1px solid rgba(19, 18, 18, 0.404);
}

.header-list a {
    color: white;
}

.header-down {
    display: none;
}

#cross {
    font-size: 1.4rem;
    display: none;
}



* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

  }

  
.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50rem;
    background-color: #4E46A6;
}


  .login-container {
    /* width: 300px; */
    width: 40%;
    height: 55%;
    padding: 20px;
    border: 1px solid #d8dbe2;
    border-radius: 5px;
    background-color: #7c8eca;
    box-shadow: 1rem 1rem 5rem rgba(255, 255, 255, 0.386);

  }

  .login-container h2 {
    text-align: center;
    font-size:  2rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
  }
  .login-form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  .login-form label,
  .login-form input {
    margin: 10px 0;
  }
  .login-form input {
    padding: 10px;
    border: 1px solid #b9b6d5;
    border-radius: 3px;
    outline: none;
  }
  .login-button {
    transition: 0ms;
    margin-top: 10px;
    background-color: #6478b9;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
  }
  .login-button:hover {
    background-color: #313a58;
  }

  .space {
    height: 200rem;
    background-color: #4E46A6;
  }



  @media (max-width:1060px) {
    .login-container {
        width: 35%;
        height: 62%;
        border-radius: 5px;
    }
    .image-container img{
        height: 25rem;
    }
    .login-form {
        margin-top: 3rem;
    }
  }


  @media (max-width:840px) {
    .main-container{
        flex-direction: column;
        height: auto;
    }
    .login-container {
        width: 74%;
        height: 62%;
        border-radius: 5px;
    }
    .image-container img{
        height: 27rem;
        margin-bottom: 1.2rem;
    }
    .login-form {
        margin-top: 1.2rem;
    }
  }

  @media (max-width:500px) {
    .login-container {
        width: 80%;
        height: 62%;
        border-radius: 3px;
    }
    .image-container img{
        height: 22rem;
        margin-bottom: 1.2rem;
    }
    .login-form {
        margin-top: 1.2rem;
    }
    .login-form label, .login-form input {
        margin: 4px 0;
    }
    .login-container h2 {
        font-size: 1.5rem;
    }
  }

  
  @media (max-width: 420px) {
    .image-container img{
        height: 18rem;
    }

  }

