<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow of Website</title>
    <style>
        .main {
            height: 100vh;
            width: 100%;
        }
        .main img { 
            height: 100vh;
            width: 100%;
        }
        
    </style>
</head>
<body>
    <div class="main">
        <img src="/img/final.png" alt="flow">
    </div>
</body>
</html>