<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthcare Simplified</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="icon" href="./img/pic.png">


  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar">
    <ul class="left">
      <li><a href="#home">Health-Care Simplified</a></li>
    </ul>
    <ul class="right">

      <div class="list">
        <i class="fa-regular fa-address-card"></i>
        <li><a href="#about">About</a></li>
      </div>
      <div class="list">
        <i class="fa-solid fa-check-to-slot"></i>
        <li><a href="/book">Book Your Slot</a></li>
      </div>
      <div class="list">
        <i class="fa-solid fa-plus"></i>
        <li><a href="/FormFill" target="_parent">Add Service</a></li>
      </div>
      <a href="/profile"><img src="/img/unkk.png" alt="profile_img"></a>
    </ul>
  </nav>


  <div class="content">

    <div class="left-content">
      <img src="./img/pic.png">
    </div>

    <div class="right-content">
      <div class="right-content-box">
        <h1>Health-Care Simplified A Web-based Soultion</h1>
        <p>We've designed a platform that empowers both patients and doctors
          transforming the way Healthcare appointments are managed.With our
          user-friendly system ,patients can easily log in , <span>choose a hospital,
            explore doctor profiles,and book appointments at their convience.</span> </p>
        <div class="ctn-btn">
          <button class="btn"><a href="/book">Book now</a></button>
          <button class="btn"><a href="#">More info</a></button>
        </div>
      </div>

    </div>
  </div>



  <div class="description">
    <div class="box1">
      <div class="lft">
        <h3>Healthcare Solutions</h3>
        <p>Our Healthcare Solutions are a culmination of cutting-edge technology and expert medical services. We provide
          a diverse range of solutions, leveraging advancements in healthcare to deliver precise diagnoses, effective
          treatments, and holistic care. From AI-driven diagnostics to remote patient monitoring, our solutions are
          tailored to streamline healthcare delivery, enhance operational efficiency, and improve patient outcomes.</p>
      </div>
      <div class="rgt">
        <img src="/img/b1.png" alt="">
      </div>
    </div>

    <div class="box1" style="flex-direction: row-reverse;">
      <div class="lft">
        <h3>Wellness Programs</h3>
        <p>Our Wellness Programs are meticulously designed to cater to individual needs, focusing on preventive
          healthcare and fostering healthy lifestyles. These programs offer personalized plans encompassing nutrition,
          fitness, mental health, and preventive care. Through a combination of digital tools, educational resources,
          and one-on-one consultations, we empower individuals to take charge of their well-being, fostering long-term
          health and vitality.</p>
      </div>
      <div class="rgt">
        <img src="/img/b2.png" alt="">
      </div>
    </div>

    <div class="box1">
      <div class="lft">
        <h3>Patient-Centric Approach</h3>
        <p>Our Patient-Centric Approach revolves around prioritizing patients' needs and ensuring their well-being at
          every stage of care. We believe in empathy-driven healthcare, where patient comfort, satisfaction, and
          involvement in decision-making are paramount. Our approach integrates the latest in medical technology with
          compassionate care, creating an environment where patients feel heard, valued, and well-supported throughout
          their healthcare journey.</p>
      </div>
      <div class="rgt">
        <img src="/img/b3.png" alt="">
      </div>
    </div>
  </div>


  <div class="space">

  </div>







  <div class="heading">
    <h1>Your Services</h1>
  </div>

  <div class="cards">
  <div class="card" style="width: 32rem;  display: inline-block; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.534);">
    <img src="/img/book.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Book Your Appointment Slot</h5>
      <p class="card-text">Secure your appointment slot hassle-free! Choose a convenient time for your appointment and lock in your preferred slot instantly. Our user-friendly interface ensures a seamless booking experience, enabling you to schedule appointments with ease and manage your healthcare journey efficiently.</p>
      <a href="/book" class="btn btn-primary">Book an Appointment</a>
    </div>
  </div>

  <div class="card" style="width: 32rem; display: inline-block; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.534);">
    <img src="/img/card2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Check Blood Availability</h5>
      <p class="card-text">Urgently in need of blood? Explore our comprehensive database to find the blood you need. With real-time updates and a wide network of donors, we ensure prompt access to the required blood type, with your near by location within contact support, helping save lives effortlessly.</p>
      <a href="/book" class="btn btn-primary">Check Availability</a>
    </div>
  </div>

  <div class="card" style="width: 32rem; display: inline-block; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.534);">
    <img src="/img/card3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Discover Organ Availability</h5>
      <p class="card-text">Find organ donors and availability swiftly. Our platform facilitates the search for organ donors, making the process of organ transplantation seamless and efficient.with your near by location within contact support,  Get quick access to the organ you require for a life-saving transplant.</p>
      <a href="/book" class="btn btn-primary">Check Availability</a>
    </div>
  </div>
</div>



  <footer class="footer">
    <div class="services">
      <h3>Services</h3>
      <ul style="display: flex; flex-direction: column ;">
        <a href="#">
          <li>Blood Availability</li>
        </a>
        <a href="#">
          <li>Organ Donation</li>
        </a>
        <a href="#">
          <li>Emergency Care</li>
        </a>
        <a href="#">
          <li>Wellness Programs</li>
        </a>
      </ul>
    </div>

    <div class="connect">
      <h3>Connect with Us</h3>
      <p>Stay connected with us through various social media channels and discover the latest updates, health tips,
        community events, and more. Follow us on Facebook, Twitter, and Instagram to join our health-driven community
        and access valuable health-related content.</p>
      <ul class="social-icons">
        <div class="icn">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </ul>
    </div>

    <div class="brand">
      <h3>Healthcare Simplified</h3>
      <p>A platform dedicated to revolutionizing healthcare accessibility for everyone, providing innovative solutions,
        and simplifying the complexities of healthcare. Our mission is to create a seamless, inclusive, and affordable
        healthcare experience for all.</p>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
<script src="app.js"></script>
</body>

</html>