<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Simplified</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="./img/pic.png">

    
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar">
    <ul class="left">
      <li><a href="#home">Healthcare Appointments</a></li>
    </ul>
    <ul class="right">
    
      <div class="list">
        <i class="fa-regular fa-address-card"></i>
      <li><a href="#about">About</a></li>
      </div>
      <div class="list">
        <i class="fa-solid fa-check-to-slot"></i>
        <li><a href="/book">Book Your Slot</a></li>
      </div>
      <div class="list">
        <i class="fa-solid fa-plus"></i>
        <li><a href="/FormFill" target="_parent">Add Service</a></li>
      </div>
      <a href="/profile"><img src="/img/unkk.png" alt="profile_img"></a>
    </ul>
  </nav>


    <div class="content">

        <div class="left-content">
                <img src="./img/pic.png">
        </div>

        <div class="right-content">
            <div class="right-content-box">
                <h1>Health-Care Simplified <br> A Web-based Soultion</h1>
                <p>We've designed a platform that empowers both patients and doctors
                    transforming the way Healthcare appointments are managed.With our
                    user-friendly system ,patients can easily log in , <span>choose a hospital,
                    explore doctor profiles,and book appointments at their convience.</span> </p>
                <div class="ctn-btn">
                    <button class="btn"><a href="/book">Book now</a></button>
                    <button class="btn"><a href="#">More info</a></button>
                </div>
            </div>

        </div>
    </div>



    <div class="description">
      <div class="box1">
        <div class="lft">
          <h3>Healthcare Solutions</h3>
          <p>Our Healthcare Solutions are a culmination of cutting-edge technology and expert medical services. We provide a diverse range of solutions, leveraging advancements in healthcare to deliver precise diagnoses, effective treatments, and holistic care. From AI-driven diagnostics to remote patient monitoring, our solutions are tailored to streamline healthcare delivery, enhance operational efficiency, and improve patient outcomes.</p>
        </div>
        <div class="rgt">
          <img src="/img/b1.png" alt="">
        </div>
      </div>

      <div class="box1" style="flex-direction: row-reverse;">
      <div class="lft">
        <h3>Wellness Programs</h3>
        <p>Our Wellness Programs are meticulously designed to cater to individual needs, focusing on preventive healthcare and fostering healthy lifestyles. These programs offer personalized plans encompassing nutrition, fitness, mental health, and preventive care. Through a combination of digital tools, educational resources, and one-on-one consultations, we empower individuals to take charge of their well-being, fostering long-term health and vitality.</p>
      </div>
      <div class="rgt">
        <img src="/img/b2.png" alt="">
      </div>
    </div>

    <div class="box1">
    <div class="lft">
      <h3>Patient-Centric Approach</h3>
      <p>Our Patient-Centric Approach revolves around prioritizing patients' needs and ensuring their well-being at every stage of care. We believe in empathy-driven healthcare, where patient comfort, satisfaction, and involvement in decision-making are paramount. Our approach integrates the latest in medical technology with compassionate care, creating an environment where patients feel heard, valued, and well-supported throughout their healthcare journey.</p>
    </div>
    <div class="rgt">
      <img src="/img/b3.png" alt="">
    </div>
  </div>
    </div>


    <div class="space">

    </div>

    


    

<div class="space">

</div>


<form action="/book" method="get">
    <div class="appoint">
    <button type="submit">Book an Appointment</button>
</div>
</form>




<div class="bigSpace"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<script src="app.js"></script>
</body>

</html>