<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reg</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" method="post" action="/new">
          <h2>New Registration</h2>
          <div class="input-container">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" required placeholder="name">
          </div>
          <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="email">
          </div>
          <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="password">
          </div>
          <button type="submit">Sign In</button>
        </form>
      </div>
</body>
</html>