<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Razorpay Web-Integration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="./payment-alert.css">
  </head>

  <body>

    <div class="container">
      <div class="alert-box">
          <img src="./img/payment.jpg" alt="payment IMG">
          <h2>Registration Fee Required</h2>
          <p>To proceed with your registration, a mandatory fee of ₹499 is required. Please choose one of the options below:</p>
          <div class="buttons">
            <button class="cancel-btn"><a href="/home">Cancel Booking</a></button>
            <form class="pay-form">
              <input type="hidden" name="name" value="Shoes" />
              <input type="hidden" name="amount" value="499" />
              <input type="hidden" name="description" value="Shoes Buying" />
              <button  type="submit" class="proceed-btn" value="pay now">Proceed to Payment</button>
            </form>
          </div>
      </div>
  </div>
   
      



  </body>
</html>

<!--Inside index.html -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  $(document).ready(function () {
    $(".pay-form").submit(function (e) {
      e.preventDefault();

      var formData = $(this).serialize();

      $.ajax({
        url: "/createOrder",
        type: "POST",
        data: formData,
        success: function (res) {
          if (res.success) {
            var options = {
              key: "" + res.key_id + "",
              amount: "" + res.amount + "",
              currency: "INR",
              order_id: "" + res.order_id + "",
              handler: function (response) {
                alert("Payment Succeeded");
                window.open("/done","_self");
              },
            };
            var razorpayObject = new Razorpay(options);
            razorpayObject.on("payment.failed", function (response) {
              alert("Payment Failed");
            });
            razorpayObject.open();
          } else {
            alert(res.msg);
          }
        },
      });
    });
  });
</script>
