<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            text-align: center;
        }
        img {
            margin-top: 5rem;
            height: 40rem;
            width: 60rem;
        }
        button{
            padding: .7rem 3rem;
            color: black;
            background-color: white;
            border-radius: .5rem;
        }
        a{
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1> <%= data %></h1>
    <img src="/img/userNotFound.png" alt="">
    <!-- <button><a href="/home">Home</a></button> -->
</body>
</html>