* {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #2a74c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 50rem; */
}



.options {
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.685);
    border-radius: .5rem;
    background-color: white;
    margin-top: 10rem;
    padding: 4rem 5rem;
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.788);
    padding-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.right img {
    height: 35rem;
}


#city,
#specialization,
#btn {
    padding: 1rem 5rem;
    margin: 1rem 5rem;
    width: 80%;
}

#btn {
    transition: 0ms;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background-color: #2a74c4;
    color: white;
    font-weight: 600;
}
#btn:hover {
    background-color: #55a3f7;
}

option {
   font-size: .88rem;
}